@charset "utf-8";
label{font-weight: normal;font-size: 15px}

body{
    font-size:16px;
    width: 100%;
    background-size: cover;
    -webkit-text-size-adjust:none;
    height: auto;
    min-width: 1000px;
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-default{

}

.no-more{
    line-height:50px;text-align: center;color: #02879B;font-size: 16px;width: 100%
}
.no-content{
    text-align: center;color: #02879B;
    font-family: "Microsoft YaHei",serif;
    font-size: 24px;position: absolute;top: 20%;width: 100%
}

/*
input[type="text"]{
    line-height: 24px;
    height: 32px;
    font-size: 14px;
    padding: 3px 10px;
    border: solid 0.5px #CCC;
    border-radius: 3px;
}

.select{
    height: 32px;
    width: 120px;
    line-height: 24px;
    font-size: 14px;
    padding: 3px 10px;
    border: solid 0.5px #CCC;
    border-radius: 3px;
}
.select option{
    line-height: 44px;
    font-size: 14px;
}

*/
.input-group-addon{
    background-color: #4B6E96;
    border: none;
    color: #FFF;
}

.body-frame{
    width: 40%;height: 70%;position: absolute;
    left:50%;top:50%;font-size: 16px;
    min-width: 300px;max-width: 600px;
    background-color: #D9E8EE;
    transform: translateX(-50%) translateY(-50%);
    border: solid 1px #8c8c8c;border-radius: 5px;
    padding: 50px 10px 10px 10px;
    z-index: 15;display: none;
}
.body-frame-title{
    position: absolute;top:0;left: 10px;right: 10px;
    height: 40px;font-family: "黑体", serif;font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-bottom: solid 1px #8c8c8c;
}
.body-frame-close{
    position: absolute;top:0;right: 0;
    width: 40px;height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
}
.body-frame-html{
    position: relative;
    width:100%;height:100%;overflow: auto;
    line-height: 40px;
    cursor: pointer;
}
/*全面遮罩层*/
.full-gray{
    display:none;width: 100%;height: 100%;opacity:0.5;
    position: absolute;background-color: #000;z-index: 99
}
/*用于筛选页面的遮罩层*/
.back-gray{
    display:none;width: 100%;height: 100%;opacity:0.5;
    position: absolute;background-color: #000;z-index: 11
}

.mini-span{
    font-size: 12px;color: #FFF;background-color: #333;
    padding: 4px 5px;vertical-align: 2px;border-radius: 5px;
    margin: 5px;font-family: "黑体", serif;
}
.body-top{
    height: 75px;
    width: 100%;
    padding: 10px;
    font-family: "黑体",serif;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    background-image: url("../image/header.jpg");
    background-repeat: repeat-x;
}
.body-top a{
    color: #FFF;
    text-decoration:none;
    cursor: pointer
}
.logo{
    float: left;
    height: 100%;
}
.user-info{
    float: right;
    height: 100%;
    text-align: right;
    padding: 10px;
    line-height: 35px;
    color: #FFF;
    white-space: nowrap;
}
.welcome{
    height: 25px;
    padding:0 5px;
    color: #222;
    font-family: "黑体", serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #fefed7;
}
.welcome-line{
    float: left;height: 100%;
}
.welcome-check{
    float: right;height: 100%;color: #363636;text-align: right;
}

.pagination{
    float: right;
}
.pagination li a{
    color: #35B2C6;
    border-color: #35B2C6;
}
.pagination li a:hover{
    background-color:#35B2C6;
    color: #FFF;
    border-color: #35B2C6;
}
.pagination>.active>a {
    background-color: #35B2C6;
    border-color: #35B2C6;
}
.pagination>.active>a:hover{
    background-color: #35B2C6;
    border-color: #35B2C6;
}


.body-left{
    position: absolute;
    width:129px;
    top:100px;
    font-family: "黑体",serif;
    bottom: 18px;
    padding: 20px 0;
    white-space: nowrap;
    overflow-y: auto;
    z-index: 1;
    background-color: #35B2C6;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
}
.body-menu{
    border-top: solid 1px #FFF;
    Width:100%;
    overflow: hidden;
}
.body-menu ul {
    Width:100%;
    list-style:none;
}
.body-menu ul li {
    text-align: left;
    padding-left: 7px;

    border-bottom: solid 1px #FFF;
    cursor: pointer;
}
.body-menu ul li a{
    color: #FFF;
    font-size : 18px;
    width: 100%;
    padding: 10px 0;
    line-height: 45px;
    text-decoration: none;
}
.body-menu ul li a img{
    width: 25px;
    height: 25px;
}
.body-menu ul li:hover {
    color:#FFF;
    background: #4B6E96;
}
.active{
    background-color: #4B6E96;
}
.menu-in-out{
    background-color:#03879C;text-align:right;position: absolute;
    left:0;bottom:0;right:0;padding: 4px 6px;cursor: pointer
}
.menu-in-out img{
    width: 25px;
    height: 25px;
}


.body-main{
    position: absolute;
    padding-left: 130px;
    left: 0;
    right: 0;
    top: 100px;
    min-width: 1000px;
    bottom: 18px;
    font: 16px/2 "宋体";
    background-color: #a6e1ec;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.body-list{
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    overflow: auto;
}
.table-box{
    margin: 0 10px;
}
.body-list a{
    text-decoration:none;
    cursor: pointer
}

.my-table{
    width: 100%;
    border-collapse:collapse;
    background-color: #FFF;
    line-height: 22px;
}
.my-table td
{
    text-align: center;
    padding: 5px;
    border: 1px solid #cbcbcb;
}

.my-table th{
    color: #FFF;
    background-color: #4B6E96;
    text-align: center;
    padding: 8px;
    border: 1px solid #cbcbcb;
}


.body-right{
    position: fixed;
    width: 219px;
    right: 0;
    top: 100px;
    bottom: 18px;
    background-color: #35B2C6;
    border-radius:5px;
    z-index: 2;
    overflow: hidden
}

.body-search {
    Width:100%;
    padding: 5px 10px;
    overflow: hidden;
}
.select-area{
    padding: 5px;
    font:14px/1.6 "新宋体";
    float: left;
    width: 100%;
    height: 30px;
}
.title-lg{
    position: absolute;
    left: 20px;
    right: 20px;
    min-width: 400px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    font-family: "黑体",serif;
    background-color: #4B6E96;
    color: #FFF;
}


.chart-group{
    position: absolute;
    left: 20px;
    right: 20px;
    top:65px;
    bottom: 10px;
}
.chart-box{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}
.chart{
    width: 100%;
    height: 100%;
    position: relative;
}
.cart{
    width: 100%;
    height: 40px;
    position: relative;
    font-size: 22px;
    color: #FFF;
    font-family: "黑体", serif;
    background-color: #03879C;
}
.cart-list{
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 100px;
    overflow-y:auto;
}
.cart-ball{
    position: absolute;
    bottom: 50px;
    right: 15px;
    cursor: pointer;
    z-index: 11;
    padding: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #FF8500;
}
#cart-num{
    color:#FF8500;font-size:14px;position: absolute;
    right: 0;top: 0;background-color:#FFF;text-align:center;
    width: 24px;height: 24px;line-height: 20px;border: solid 2px #FF8500;
    border-radius:20px;overflow: hidden;
}
.cart-tip{
    color: #F00;
    font-size: 12px;
}
#box{
    width: 8cm;
    height: 20cm;
    position: relative;
    background: #99CC00;
}
#qrcode1{
    width: 4cm;
    height: 4cm;
    position: absolute;
    cursor: pointer;
}
#list{
    line-height: 0.8cm;
    left: 0;
    font-family: "黑体", serif;
    background: #FFFFFF;
    width: 5cm;
    top: 4.5cm;
    text-align: center;
    font-size: 0.5cm;
    position: absolute;
    cursor: pointer;
}
.goods-sale{
    border-bottom: solid 1px #FFF;
    padding: 5px;
}
.sale-name{
    color: #02879B;
    background-color: #fefed7;
    font-family: "黑体", serif;
    font-size: 17px;
    padding: 2px 5px;
}
.ticket-img{
    float:left;height: 100px;width: 100px;padding: 2px;
}
.ticket-img img{
    height: 100%;width: 100%;
    box-shadow: 0 0 5px 1px #02879B;
    border-radius: 5px;
}
.ticket-cart{
    width: 40px;height: 40px;bottom: 5px;
    right:5px;padding: 5px;position: absolute;
}
.ticket-title{
    height:48px;padding: 0 5px 0 5px;
    font-size: 16px;line-height:24px;overflow: hidden;
    text-overflow: ellipsis;white-space: normal
}
.ticket-title:before{
    content: "";
    padding: 0 7px;
}

.ticket-title span{
    font-size: 12px;color: #FFF;background-color: #F00;padding: 1px 3px;vertical-align: 1px;border-radius: 5px;
}
.ticket-info{
    height: 52px;line-height:16px;padding: 0 40px 0 5px;font-size: 12px;color: #626262;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.ticket-info span{
    font-size:12px;color:#02879B;border: solid 0.5px #02879B;border-radius:3px;padding: 0 1px;margin-right: 5px;
}
.goods{
    padding: 3px 5px;
    width: 100%;
    margin-bottom: 3px;
    position: relative;
    font: 15px/1.5 "宋体";
    line-height: 22px;
    background-color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius:5px;
}

.del-cart{
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    right: 2px;
    bottom: 2px;
}



.main-title{
    background-color:#FFF;margin-top:8px;padding: 5px 10px;
    font-size: 20px;line-height:25px;border-bottom: solid 0.5px #8c8c8c;
    border-top: solid 0.5px #8c8c8c;
}
.main-title span{
    font-size: 12px;color: #FFF;background-color: #F00;padding: 1px 3px;vertical-align: 3px;border-radius: 5px;line-height: 25px;
}
.main-ticket-info{
    position: relative;line-height: 22px;
    background-color:#FFF;margin-top:8px;padding: 5px 10px;
    border-bottom: solid 0.5px #8c8c8c;
    border-top: solid 0.5px #8c8c8c;
}
.main-ticket-detail{
    background-color:#FFF;margin-top:8px;
    padding: 10px;border-top: solid 0.5px #8c8c8c
}
.info-top{
    margin-top:5px;line-height:25px;border-top:solid 0.5px #02879B;
    border-bottom:solid 0.5px #02879B;width:100%;
    background-color:#FFF;padding:5px 10px;
}
.card{
    overflow: hidden;
    background-color: #FFF;
    text-overflow: ellipsis;
    cursor: pointer;
    width: auto;
    height: auto;
    position: relative;
    margin: 8px 0;
    padding: 8px 8px;
}
.card-left{
    line-height: 26px;font-size:12px;width:60px;
    float: left;text-align: center;
}
.card-left-i{
    line-height: 60px;font-size:30px;
}
.card-left-i img{
    width: 60px;height: 60px;
}
.card-text{
    padding-left:10px;line-height:25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap
}
.card-text span{
    font-size: 12px;color: #FFF;background-color: #F00;padding: 1px 3px;vertical-align: 1px;border-radius: 5px;line-height: 25px;
}
.card-pull{
    position: absolute;right: 5px;bottom: 5px;color: #02879B;
}
.card-pack{
    line-height:30px;background-color:#FFF;color: #02879B;text-align: center;width: 100%;cursor: pointer;
}
.card-right{
    position: absolute;top:5px;right: -5px;width: auto;height: 80px;opacity:1
}
.card-right img{
    height: 100%;
}
.check-all{
    position:absolute;bottom:70px;left:0;width:100px;height:30px;cursor:pointer;
    background-color: #03879C;font-family: "黑体", serif;padding: 0 5px;
    text-align:left;line-height:30px;font-size: 18px;color: #FFF;
}
.clear-cart{
    position:absolute;bottom:70px;left:100px;right:0;cursor:pointer;
    background-color: #03879C;font-family: "黑体", serif;padding: 0 5px;
    text-align:right;line-height:30px;font-size: 17px;color: #FFF;
}
.pay{
    width: 100%;
    height: 70px;
    padding: 6px 0;
    position: absolute;
    bottom: 0;
    font-family: "黑体", serif;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:pointer;
    border-bottom-left-radius:5px;
}
.payment-area{
    width: 100%;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    border-radius:5px;
    margin-bottom: 10px;
}
.payment-area label{
    cursor: pointer;
    width: 220px;
    padding: 0 0 0 10px;
    margin: 5px 10px 5px 10px;
    font-family: "黑体", serif;
    font-size: 20px;
    border: solid 1px #ccc;
    border-radius: 2px;
}
.payment-area label input[type="radio"]{
     display: none;
     cursor: pointer;
 }

.payment-area label input + span {
    padding: 4px 30px;
    display: inline;
    background-image: url("../image/checkBox-F.png");
    background-repeat: no-repeat;
    background-position:0;
}
.payment-area label input:checked + span {
    background-image: url("../image/checkBox-T.png");
}


.cashier{
    position:absolute;top:55px;bottom:10px;left: 30px;right: 30px;
    background-color: #FFF;padding: 20px 50px;
    overflow: auto;min-width: 400px;
}
.cashier-span{
    background: #00AAEF;
    color: #FFF;
    font-size: 22px;
    font-family: "黑体", serif;
    padding: 5px 30px;
    border-radius: 5px;
    white-space: nowrap;
    margin: 0 20px 20px 0;
}
.cashier-tip{
    font-family: "黑体", serif;
    font-size: 16px;
    color: #363636;
}
.order-left-time{
    font-size: 32px;
    font-weight: bold;
    color: #F00;
}

.not-table{
    width: auto;
    min-width: 200px;
    border-collapse:collapse;
    background-color: #FFF;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
    font-family: "黑体", serif;
}
.not-table td
{
    padding: 10px 100px 10px 15px;
    border: solid 1px #cbcbcb;
    white-space: nowrap;
}



.ready-pay{
    position: absolute;
    padding: 8px 40px;
    background-color: #FFA800;
    font-family: "黑体", serif;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    cursor:pointer;
}
.pay-code{
    position: absolute;
    right: 100px;
    top: 126px;
    width: 300px;
    height: 300px;
    font: 1.5vw/1.5 "Microsoft JhengHei";
}

.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    min-width: 1000px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFF;
    background-color: #363636;
}


#goodsDetail {
    width: 55%;
    height: 55%;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 1002;
}

/*二维码和遮罩层弹出层样式*/
#goodcover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.50;
    filter: alpha(opacity=80);
}
#code {
    width: 25%;
    height: 55%;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    display: none;
    z-index: 1002;
}
.close1 {
    width: 50%;
    height: 10%;
    position: absolute;
    right: 10px;
}
#closebt {
    float: right;
}
#closebt img {
    width: 20px;
}
.goodtxt {
    margin-top: 20px;
    text-align: center;
}
.goodtxt p {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
#qrcode {
    width: 50%;
    min-width: 150px;
    max-width: 200px;
    max-height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #02879B;padding: 15px
}
#qrcode img {
    width: 100%;
    height: 100%;
}


.swiper-container{
    height: 60vw;
    background-image: url(../image/img-back.png);
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-title{
    position: absolute;
    color: #FFF;
    font-size: 15px;
    bottom: 30px;
    width: 100%;
    padding: 0 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}



/*加载动画样式*/
.wrapp {
    float:left;
    width:100%;
    height:100px;
    margin: 50px 10px 10px 0;
    padding:20px 20px 20px;
    border-radius:5px;
    text-align:center;
}
.k-line {
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:15px;
    background-color:#4b9cdb
}
.k-line6-1 {
    animation:k-loading 1.5s 0s infinite;
    background-color:#FF5722
}
.k-line6-2 {
    animation:k-loading 1.5s .1s infinite;
    background-color:#FF5722
}
.k-line6-3 {
    animation:k-loading 1.5s .2s infinite;
    background-color:#FF5722
}
.k-line6-4 {
    animation:k-loading 1.5s .3s infinite;
    background-color:#FF5722
}
.k-line6-5 {
    animation:k-loading 1.5s .4s infinite;
    background-color:#FF5722
}
.k-line6-6 {
    animation:k-loading 1.5s .5s infinite;
    background-color:#FF5722
}
.k-line6-7 {
    animation:k-loading 1.5s .6s infinite;
    background-color:#FF5722
}
.k-line6-8 {
    animation:k-loading 1.5s .7s infinite;
    background-color:#FF5722
}
@keyframes k-loading {
0% {width:15px}
50% {width:35px}
100% {width:15px}
}

@keyframes rotate180
{
    to {transform:rotate(180deg);}
}
@keyframes rotate-180
{
    to {transform:rotate(0deg);}
}